#File foramt is easy

#first section, declare plugin to use:
#example:

#plugin	plugin-name

plugin	libdummy

#Depends on openipmi to be installed on this system
#plugin libipmi


#Second section is a handler (instance) declaration with arguments understood by plugin
#Only arguments starting with numbers, should be enclosed in quotes " "

handler	libdummy	"0"	"0"

#handler libipmi	lan "ip.address port	auth_type	auth_level	username	password"
